<html>

<head>
	<title>UPLOAD</title>
	<link rel="stylesheet" type="text/css" href="/static/downloadoptions_css.css">
</head>

<body>
	<div id="login-box">
	<div class="left-box">
        <h1>UPLOAD</h1>
          
          <!--<input type="text" name="username" placeholder="Username" required/>
          <input type="text" name="email" placeholder="Email" required="" />
          <input type="text" name="college" placeholder="College" required="" />
          <input type="password" name="password" placeholder="Password" required="" />-->
        
          <!--<input type="password" name="password2" placeholder="Retype password" required="" />-->
        
          <!--<input type="submit" name="signup-button" value="Sign Up" >
          <a href="login.html"><p><u>Already have an account?</u></p></a>-->

          <a href="upload"><input type ="submit" name="submit-button1" value="Upload a file"/></a> 
          <a href="link"><input type="submit" name="submit-button2" value="Upload a link"/></a>
        
        </div>
        
    </div>

</body>
</html>