<html>

<head>
    <title>Home | Updown</title>
    <link rel="stylesheet" type="text/css" href="/static/home_css.css">
</head>


<body>

<div class="custom-padding">
        <nav>
            <div class="logo"><img src = "/static/new_book.png" width = "45px", height = "30px"></div>
            <ul class="menu-area">
                <li><a href="/home">Home</a></li>
                <li><a href="/home">About</a></li>
                <li><a href="/uploadoptions" target=_blank>Upload</a></li>
                <li><a href="/download" target=_blank>Download</a></li>
                <li><a href="/">Logout</a></li>
            </ul>
        </nav>
    </div>

    <div id="login-box">
      <img src="/static/new_book.png" class="avatar" >
      <div class="left-box">

        <h1>UPDOWN</h1>
        <p>
          'UPDOWN' is the brain child of <br>
          three budding engineering students<br>
          from The National Institute of Engineering, Mysuru,<br>
          Varun Bheemaiah, Sumukh Vasisht S, Syed Amir.<br>
          <br>
          'UP(load)DOWN(load)' is a document sharing<br>
          and storing facility aimed at<br>
          the sharing of subject materials<br>
          <br>
          Gone are the days of begging for notes on Whatsapp<br>
          and other social media. Never again lose your notes<br>
          due to accidental deletions.<br>
          Just upload your notes and <br>
          download others' uploaded notes on the go!<br>
        </p>
      </div>
    </div>
  </div>

</body>
</html>
