<html>

<head>
    <title>HOME</title>
    <link rel="stylesheet" type="text/css" href="/static/home_css.css">
</head>


<body>

<div class="custom-padding">
        <nav>
            <div class="logo"><img src = "/static/new_book.png" width = "45px", height = "30px"></div>

            <ul class="menu-area">
                <li><a href="/">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="/downloadoptions" target=_blank>Upload</a></li>
                <li><a href="/download">Download</a></li>
                <li><a href="/login">Logout</a></li>
            </ul>
        </nav>
    </div>

</body>
</html>
