<!DOCTYPE html>
<html>
<head>
<title>LOGIN</title>
    <link rel="stylesheet" type="text/css" href="/static/login_css.css">
<body>
    <div class="loginbox">
    <img src="avatar.png" class="avatar">
        <h1>Login</h1>
        <form>
            <p>Username</p>
            <input type="text" name="" placeholder="Enter the Username">
            <p>Password</p>
            <input type="password" name="" placeholder="Enter the Password">
            <input type="submit" name="" value="Login">
            <a href="signup.html"><u>Don't have an account yet?</u></a>
        </form>


    </div>

</body>
</head>
</html>
