<!DOCTYPE html>
<html>
<head>
<title> SIGN-UP</title>
    <link rel="stylesheet" type="text/css" href="/static/signup_css.css">
</head>
<body>

    <div id="login-box">
      <div class="left-box">
        <h1> Sign Up</h1>

          <input type="text" name="username" placeholder="Username"/>
          <input type="text" name="email" placeholder="Email"/>
          <input type="text" name="college" placeholder="College"/>
          <input type="password" name="password" placeholder="Password"/>

          <input type="password" name="password2" placeholder="Retype password"/>

          <input type="submit" name="signup-button" value="Sign Up"/>
          <a href="login.html"><p><u>Already have an account?</u></p></a>

        </div>
    </div>

</body>
</html>
